<!DOCTYPE html>
  <html>
      <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <title>About</title>
          <meta name="description" content="">
          <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
          <link rel="stylesheet" href="Dashboard.css">
          <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
         
      </head>
      <body>
      <header class="header">
        <section class="flex">
           <a href="SUBMISSION-removebg-preview.png" class="logo">ASP</a>
        
        <form action="" method="post" class="search-form"> 
            <input type="text" name="search-box" placeholder="search subject..." required maxlength="100">
            <button type="submit" class=" fas fa-search"> </button>
        </form>
        <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
        <div id="search-btn" class="fas fa-search"></div>
        <div id="user-btn" class="fas fa-user"></div>
        <div id="toggle-btn" class="fas fa-sun"></div>
        </div>

        <div class="profile">
                <img src="graduate.png" alt="">
                <h3>Dhanvantari</h3>
              <div class="info">
                <span> Student</span>
                <span>Computer SE I</span>
              </div>
                
                <a href="profile.html" class="btn">View Profile</a>
                <div class="flex-btn">
                    <a href="Login.html" class="option-btn">Login</a>
                    <a href="Register.html" class="option-btn">Register</a>
                </div>
        </div>
    </section>
      </header>
      <div class="side-bar">

        <div class="close-side-bar">
          <i class="fas fa-times"></i>
        </div>
        <div class="profile">
          <img src="graduate.png" alt="">
          <h3>Dhanvanatri</h3>
          <div class="info">
            <span> Student</span>
            <span>Computer SE I</span>
            <span>Batch:G1</span>
          </div>
          <a href="profile.html"></a>
        </div>
        <nav class="navbar">
          <a href="home.html"><i class="fas fa-home" ></i><span>home</span></a>
          <a href="about.html"><i class="fas fa-question" ></i><span>about us</span></a>
          <a href="courses.html"><i class="fas fa-book" ></i><span>Courses</span></a>
          <a href="calender.html"><i class="fas fa-calendar" ></i><span>Calender</span></a>
          <a href="contact.html"><i class="fas fa-headset" ></i><span>contact us</span></a>

        </nav>
    </div>
<section class="about">

    <div class="row">
        <div class="image">
            <img src="Background.png" alt="">
        </div>
        <div class="content">
            <h3>Why to choose us?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum officiis magnam ipsum est? Possimus commodi id voluptatem voluptatum, exercitationem doloremque?</p>
            <a href="courses.html" class="inline-btn">Our Courses</a>
        </div>
    </div>


</section>

<section class="review">
    <h1 class="heading">
        Student's Reviews
    </h1>
    <div class="box-container">
        <div class="box">
            <p>illo, mollitia suscipit nulla repellat i
            llum. Soluta sapiente necessitatibus officiis.
            </p>
            <div class="user">
                <img src="graduate.png" alt="">
                <div>
                    <h3>Ada Sharma</h3>
                    <div class="stars">
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi obcaecati quam und i
            llum. Soluta sapiente necessitatibus officiis.
            </p>
            <div class="user">
                <img src="graduate.png" alt="">
                <div>
                    <h3>Kriti Sen</h3>
                    <div class="stars">
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <p>Lorem ipsum dolor sit, amet consectetur
            llum. Soluta sapiente necessitatibus officiis.
            </p>
            <div class="user">
                <img src="graduate.png" alt="">
                <div>
                    <h3>Sam</h3>
                    <div class="stars">
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi obcaecati quam un
            </p>
            <div class="user">
                <img src="graduate.png" alt="">
                <div>
                    <h3>john deo</h3>
                    <div class="stars">
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star"></i>
                    <i class=" fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <footer class="footer">
        Copyright &copy; <span>  Made by PICTians</span> |All rights are reserved.!
    </footer>
   <script src="Dashboard.js"></script>
</body>

 </html>