<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>IndexFile</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="main.css">
       
    </head>
    <body>
    <nav class="Navigation-bar">
      <li class="list" id="logo">
        <img src="SUBMISSION-removebg-preview.png" alt="">
      </li>
      <ul>
        <li class="list">
          <a href="Index.html">Home</a>
        </li>
        <li class="list">
          <a href="Teacher.html">Teacher</a>
        </li>
        <li class="list">
          <a href="Student.html">Student</a>
        </li>
        <li class="list">
          <a href="#">Admin</a>
        </li>
        <li class="list">
          <a href="#">About us</a>
        </li>
        
      </ul>
    </nav>
    <section class="horizontal">
     
      <div id="right">
            <a href="register-teacher.html"><button>Register as a lecturer</button></a>
            <a href="Register.html"><button>Register as a student</button></a>

        <section>
            <h3>Already have an account?</h3>
            <a href="Login.html"><button>Login</button></a>
        </section>
    </div>
      <div id="left">
        <div class="back">
          <img src="Background.png" alt="">
        </div>
      </div>
      </section>
          <footer>
        <div class="centre">
            Copyright &copy; www.assignment-submission.com All rights are reserved.
        </div>
        <div class="centre">Made by PICTians</div>
      </footer>
    </body>
</html>
