<!DOCTYPE html>
  <html>
      <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <title>Teacher-section</title>
          <meta name="description" content="">
          <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
          <link rel="stylesheet" href="list.css">
          <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
         
      </head>
      <body>
        <header class="header">
        <div class="title"><Batch:span>Batch:G1</Batch:span></div>
            <div class="icons">
            <div id="toggle-btn" class="fas fa-sun"></div>
            </div>
        </div>
        </header>
<div class="tbl-container">
    <section class="tbl">
        <table>
            <tr>
                <th>Roll No.</th>
                <th>Name</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Vallari Ayyar</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Nikita Barkade</td>
    
            </tr>
            <tr>
                <td>3</td>
                <td>Sai Bhagvat</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Divya Bhujbal</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Vallari Ayyar</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Nikita Barkade</td>
    
            </tr>
            <tr>
                <td>7</td>
                <td>Sai Bhagvat</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Divya Bhujbal</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Vallari Ayyar</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Nikita Barkade</td>
    
            </tr>
            <tr>
                <td>11</td>
                <td>Sai Bhagvat</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Divya Bhujbal</td>
            </tr>
            <tr>
                <td>13</td>
                <td>Vallari Ayyar</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Nikita Barkade</td>
    
            </tr>
            <tr>
                <td>15</td>
                <td>Sai Bhagvat</td>
            </tr>
            <tr>
                <td>16</td>
                <td>Divya Bhujbal</td>
            </tr>
        </table>
        <div class="btn">
            <a href="list.html" class="inline-btn">Add to my course</a>
        </div>
       

    </section>
    
</div>
    <footer class="footer">
        Copyright &copy; <span>  Made by PICTians</span> |All rights are reserved.!
   </footer>
   <script src="list.js"></script>
</body>

 </html>