<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Student-section</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="main.css">
       
    </head>
    <body>
    <nav class="Navigation-bar">
      <li class="list" id="logo">
        <img src="SUBMISSION-removebg-preview.png" alt="">
      </li>
      <ul>
       
        <li class="list">
          <a href="Index.html">Home</a>
        </li>
        <li class="list">
          <a href="#">Profile</a>
        </li>
        <li class="list">
          <a href="assignment.html">Assignments</a>
        </li>
        <li class="list">
          <a href="#">Calender</a>
        </li>
      
      </ul>
      <div>
        <li class="list" id="profile-photo">
          <img src="graduate.png" alt="">
          <h6>Hi Rohit</h6>
        </li>
      </div>
    </nav>
    <section class="dashboard">
      

    </section>
    
    <footer>
      <div class="centre">
         <div> Copyright &copy; www.assignment-submission.com All rights are reserved.
      </div>
      <div class="centre">Made by PICTians</div>
     
  </footer>
    </body>
</html>