<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Teacher-section</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/main.css">
       
    </head>
    <body>
    <nav class="Navigation-bar">
      <ul>
        <li class="list" id="logo">
          <img src="" alt="">
        </li>
        <li class="list">
          <a href="Index.html">Home</a>
        </li>
        <li class="list">
          <a href="#">Login</a>
        </li>
        <li class="list" id="logo">
          <img src="SUBMISSION-removebg-preview.png" alt="">
        </li>
      </ul>
    </nav>
    <section class="horizontal">
       
      <div id="right">
        <div class="back">
          <img src="Background.png" alt="">
        </div>
      </div>
      <div id="left">
        <form class="row">
          <h1 id="title">Sign up</h1>
          <div class="col">
            <label for="input firstname" class="form-label">First name:</label>
            <input type="text" class="form-control" id="input firstname" placeholder="Enter your Username" required>
          </div>
          <div class="col">
            <label for="input Lastname" class="form-label">Last name:</label>
            <input type="text" class="form-control" id="input lastname" placeholder="Enter your last name" required>
          </div>
          <div class="col">
            <label for="inputEmail4" class="form-label">Email:</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Enter your college mail id" required>
          </div>
          <div class="col">
            <label for="input Username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="input Username" placeholder="Create your Username"required>
          </div>
          <div class="col">
            <label for="inputPassword4" class="form-label">Password:</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Enter your password " required>
          </div>
          <div class="col">
            <label for="inputMobileNumber" class="form-label">Mobile number:</label>
            <input type="tel" class="form-control" id="inputMobileNumber" placeholder="+91 xxxxx xxxxx" required>
          </div>
          <div class="col">
            <label for="file"  class="form-label">Profile Photo:</label>
            <input id="file" class="form-contro" type="file" required>
            <button>Upload</button>
          </div>
          <div class="col">
            <label for="inputState" class="form-label">Department:</label>
            <select id="inputState" class="form-select">
              <option selected>Choose...</option>
              <option>Computer Engineering</option>
              <option>Electronics & telecommunication Engineering</option>
              <option>Information Technology</option>
            </select>
          </div>
          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Check me out
              </label>
            </div>
          </div>
          <div class="col" style="text-align: center;font-size:medium;">
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </div>
          <div>If Already registered then, click here.
            <a href="#">Login</a>
          </div>
        </form>
      </div> 
      </section>
    <footer>
      <div class="centre">
          <div>Copyright &copy; www.assignment-submission.com </div>
      </div>
      <div class="centre">Made by PICTians</div>
     
  </footer>
    </body>
</html>